@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 63px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  width: 7px;
  background-color: #46545a;
}

body::-webkit-scrollbar-thumb{
  background-color: #009EE2;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-comprar{
  background-color: #009EE2;
}

.btn-comprar:hover{
  background-color: #49aeda;
}

.navbarcolor{
  border-bottom: #009EE2 1px solid;
  position: fixed;
  z-index: 500;
  top: 0;
}

.contador{
  font-size: 30px;
  text-align: center;
  width: 100px;
}

.gd{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.btn-detail{
  margin-top: 20px;
  width: 100%;
}

.flex-detail{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.detail-border{
  padding-bottom: 20px;
  width: 70vh;
  border: #6db5d4 solid 2px;
}

.pd-detail{
  padding: 0px 20px;
}

.border-quanty{
  border: #009EE2 solid 2px;
}

.bestseller{
  background-color: #008ac5;
  text-transform: uppercase;
}

.nuevo-vendidos-margin{
  margin-top: 10px;
  margin-bottom: 20px;
}

.masvendidos-margin{
  margin-top: 10px;
}

.rating{
  margin-top: 10px;
  margin-bottom: 15px;
}

.price-fs{
  font-size: 50px;
}

.quotas-fs{
  font-size: 20px;
}

.bg-orange-400{
  background-color: rgb(0 159 227 / var(--tw-bg-opacity));
}

.envio_detail{
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.envio_detail-margin{
  margin-left: 10px;
}

.colorazul{
  color: #009EE2;
}

.flex-contador{
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.dis-contador{
    margin-left: 10px;
}

.btn-outline{
  color: #009EE2;
}

.btn-outline:hover{
  background-color: #009EE2;
}

.flex-cart{
  border: #009EE2 solid 1px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.info-cart{
  font-size: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-cart{
  width: 100px;
  height: 100px;
}

.prueba{
  margin-bottom: 20px;
}

.cart-h1{
  text-transform: uppercase;
}

.modal-box {
  align-items: center;
  overflow: visible;
  box-shadow: 7px 13px 37px #009EE2;
}

.cart_h1-flex{
  color: #009EE2;
  margin-top: 90px;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section__formulario__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2a30;
  margin-top: 50px;
  padding: 30px;
  border-radius: 4px;
}

.section__formulario__input .section__formulario__input__h4 {
  font-size: 25px;
  margin-bottom: 20px;
}

.section__formulario__input .section__formulario__input--border {
  color: #000000;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 3px solid #00618a;
}

.section__formulario__input .section__formulario__input__p {
  margin: 20px 0;
}

.section__formulario__input .section__formulario__input__p .section__formulario__input__check {
  margin-right: 10px;
}

.section__formulario__input .section__formulario__input__boton {
  background-color: #009EE2;
  font-size: 20px;
  width: 100%;
  padding: 12px;
}

.section__formulario__input .section__formulario__input__boton:hover {
  color: #ffffff;
}

.section__formulario__input .section__formulario__input__boton:active {
  background-color: #06648d;
}

.section__formulario__input .section__formulario__input__a {
  text-align: center;
  margin-top: 30px;
}

.flex-formu{
  display: flex;
  justify-content: center;
}